body {
    background-image: url("../images/Rectangle 3.png");
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: center;
    margin-top: 0px;
}

h1 {
    text-align: right;
    color: blue;
    font-weight: 100;
    font-size: 25px;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(170, 58, 58);
    margin-top: 150px;
    margin-bottom: 150px;
}

em {
    color: black;
}

span {
    margin-top: 55px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

footer {
    background-color: rgb(34, 33, 33);
    text-align: center;
    height: 70px;
    width: 100%;
}